################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
/minimalist-game-framework-core/Builds/Temp/Debug/netcoreapp3.1
/minimalist-game-framework-core/Builds/Temp
